<h1>New Song</h1>


<%= form_tag(songs_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :band_id %><br />
    <%= select_tag(:band_id, options_from_collection_for_select(Band.all, :id, :name)) %>
  </div>

    <div>
    <%= label_tag :album_id %><br />
    <%= select_tag(:album_id, options_from_collection_for_select(Album.all, :id, :name)) %>
  </div>


  <div>
    <%= submit_tag "Create Song" %>
  </div>
<% end %>
