<h1>New Album</h1>


<%= form_tag(albums_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :band_id %><br />
    <%= select_tag(:band_id, options_from_collection_for_select(Band.all, :id, :name)) %>
  </div>

    <div>
    <%= label_tag :image %><br />
    <%= text_field_tag :image %>
  </div>


  <div>
    <%= submit_tag "Create Album" %>
  </div>
<% end %>
